/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485
*/

*,
*::after,
*::before {
    /*basic set up for all doc !!*/
    margin:0;
    padding:0;
    box-sizing: inherit;  /*force inheritance from the body*/
}

html { /*set up the root file*/
    font-size: 62.5%; 
    /*should always use it*/
    /*this is because many people have to increase font size of the website to see properly*/
    /*Default of HTML is 16% but we want 10px, which is 62.5% of 16px*/
    /*easier to start with 10 because 1rem = 10px easier for conversion  */
}

body {
    /*all this will be inherited to all childs*/
    font-family: Lato, sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color: #777;
    /*This will not be inherited*/
    padding: 1.5rem;
    /*should always be there*/
    box-sizing: border-box;
}

/***************************************
*HEADER
****************************************/

.header {
    height: 95vh;
    background-image: linear-gradient(to right bottom, #7ed56f88,#28b4858e), url(../img/hero.jpg);
    background-size: cover;
    background-position: top; /*whatever the width of the browser is, image will always be on top*/
    clip-path: polygon(0 0, 100% 0, 100% 77%, 0 100%); /*start with top left corner then clockwise*/
    position:relative;
}

.header__logo-box {
    position: absolute;
    top: 2rem; /*! counting from the header as it's  the parent element with position should be set to relative*/
    left: 2rem;
}

.header__logo {
    height: 3rem;
    width: auto;
}

.header__text-box {
    position: absolute;
    top:30%; /*will align the BEGINNING of the box*/
    left:50%;
    transform: translate(-50%,-50%); /*will move the box itself according to the position mentionned above*/
    text-align: center;
}

.heading-primary {
    color:white;
    text-transform: uppercase;
    margin-bottom: 6rem;
    backface-visibility: hidden; /*important to add for the animations*/ 
}

.heading-primary--main {
    display:block; /*a block takes the entire width and create a linebreak*/
    font-size: 5.5rem;
    font-weight: 400;
    letter-spacing: 3.6rem;

    animation-name: moveInLeft;
    animation-duration: 1.5s;
    
    /*animation-delay: 2s;*/    
    /*Would create a delay before starting the animation*/

    /*animation-iteration-count: 3;*/ 
    /*would repeat the animation*/

    /*animation-timing-function: ease-in;*/
    /*check mdn doc*/
}

.heading-primary--sub {
    display:block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1.65rem;

    animation: moveInRight 1.5s;
    /*
    animation-name: moveInRight;
    animation-duration: 1.5s;
    */

}



/***************************************
*BUTTONS 
****************************************/

.btn:link,
.btn:visited {
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 1.5rem 4rem;
    border-radius: 5rem;
    font-size: 1.6rem;
    transition: all 0.2s;
    position:relative;
}

.btn:hover{
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.199);
}

.btn:active {
    transform: translateY(-1px); /*give the impression to actually click on it*/
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.199); /*different values for Y axis and blur value to decrease the shadow*/
}

.btn--white {
    color:#777;
    background-color: white;  
}

.btn--animated {
    animation: moveInBottom 1.3s ease-out 0.75s; /*75s is the delay*/
    animation-fill-mode: backwards; /*before the animation really starts, the element doesn't appear*/
}

.btn::after{ /*treated as a child of the button*/
    content:''; /*mandatory to mention it even if empty*/
    display:inline-block;
    height:100%;
    width:100%;
    border-radius:10rem;
    /*to make it appear behind*/
    position:absolute; 
    top:0;
    left:0;
    z-index: -1;
    transition: all .3s;
}

.btn--white::after {
    background-color: white;
}

.btn:hover::after { /*what happens after we hover*/
    transform: scaleX(1.4) scaleY(1.6); /*increase the element*/
    opacity: 0; /*going to opacity 0*/

}

 
 


/***************************************
*ANIMATIONS 
****************************************/


/*create animation with @keyframes*/
@keyframes moveInLeft{
    0%{
        opacity: 0;
        transform: translateX(-10rem) rotate(180deg); /*element will arrive from left*/
    }

    80%{/*can be set to any %*/
        transform: translateX(2rem);
    }

    100% {
        opacity: 1;
        transform: translate(0); /*will arrive at the defined position*/
    }
}

@keyframes moveInRight {
    0%{
        opacity: 0;
        transform: translateX(10rem) rotate(-180deg);
    }

    80%{
        transform: translateX(-2rem);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInBottom {
    0%{
        opacity: 0;
        transform: translateY(-6rem);
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
