/*Colors*/
/*Grid*/
/***************************************
*MAIN
****************************************/
*,
*::before,
*::after {
  /*basic set up for all doc !!*/
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  /*force inheritance from the body*/
}

html {
  /*set up the root file*/
  font-size: 62.5%;
  /*should always use it*/
  /*this is because many people have to increase font size of the website to see properly*/
  /*Default of HTML is 16% but we want 10px, which is 62.5% of 16px*/
  /*easier to start with 10 becaus e 1rem = 10px easier for conversion  */
}

body {
  /*should always be there*/
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/***************************************
*ANIMATIONS 
****************************************/
/*create animation with @keyframes*/
@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem) rotate(180deg);
            transform: translateX(-10rem) rotate(180deg);
    /*element will arrive from left*/
  }
  80% {
    /*can be set to any %*/
    -webkit-transform: translateX(2rem);
            transform: translateX(2rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
    /*will arrive at the defined position*/
  }
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem) rotate(180deg);
            transform: translateX(-10rem) rotate(180deg);
    /*element will arrive from left*/
  }
  80% {
    /*can be set to any %*/
    -webkit-transform: translateX(2rem);
            transform: translateX(2rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
    /*will arrive at the defined position*/
  }
}

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem) rotate(-180deg);
            transform: translateX(10rem) rotate(-180deg);
  }
  80% {
    -webkit-transform: translateX(-2rem);
            transform: translateX(-2rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem) rotate(-180deg);
            transform: translateX(10rem) rotate(-180deg);
  }
  80% {
    -webkit-transform: translateX(-2rem);
            transform: translateX(-2rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-6rem);
            transform: translateY(-6rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-6rem);
            transform: translateY(-6rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

body {
  /*all this will be inherited to all childs*/
  font-family: Lato, sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
  /*This will not be inherited*/
  padding: 1.5rem;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 6rem;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  /*important to add for the animations*/
}

.heading-primary--main {
  display: block;
  /*a block takes the entire width and create a linebreak*/
  font-size: 5.5rem;
  font-weight: 400;
  letter-spacing: 3.6rem;
  -webkit-animation-name: moveInLeft;
          animation-name: moveInLeft;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  /*animation-delay: 2s;*/
  /*Would create a delay before starting the animation*/
  /*animation-iteration-count: 3;*/
  /*would repeat the animation*/
  /*animation-timing-function: ease-in;*/
  /*check mdn doc*/
}

.heading-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 1.65rem;
  -webkit-animation: moveInRight 1.5s;
          animation: moveInRight 1.5s;
  /*
        animation-name: moveInRight;
        animation-duration: 1.5s;
        */
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: -webkit-gradient(linear, left top, right top, from(#55c57a), to(#28b485));
  background-image: linear-gradient(to right, #55c57a, #28b485);
  display: inline-block;
  letter-spacing: 2px;
  /*special gradiant on font*/
  -webkit-background-clip: text;
  /*the background will become the text // will be visible on the text*/
  color: transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.heading-secondary:hover {
  -webkit-transform: skewY(3deg) scale(1.03);
          transform: skewY(3deg) scale(1.03);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.3);
}

.u-center-text {
  text-align: center;
}

.u-margin-bottom-8 {
  margin-bottom: 8rem;
}

/***************************************
*BUTTONS 
****************************************/
.btn:link, .btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 1.5rem 4rem;
  border-radius: 5rem;
  font-size: 1.6rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: relative;
}

.btn:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.199);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.199);
}

.btn:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  /*give the impression to actually click on it*/
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.199);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.199);
  /*different values for Y axis and blur value to decrease the shadow*/
}

.btn--white {
  color: #777;
  background-color: #fff;
}

.btn--animated {
  -webkit-animation: moveInBottom 1.3s ease-out 0.75s;
          animation: moveInBottom 1.3s ease-out 0.75s;
  /*75s is the delay*/
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  /*before the animation really starts, the element doesn't appear*/
}

.btn::after {
  /*treated as a child of the button*/
  content: '';
  /*mandatory to mention it even if empty*/
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  /*to make it appear behind*/
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.btn--white::after {
  background-color: #fff;
}

.btn:hover::after {
  /*what happens after we hover*/
  -webkit-transform: scaleX(1.4) scaleY(1.6);
          transform: scaleX(1.4) scaleY(1.6);
  /*increase the element*/
  opacity: 0;
  /*going to opacity 0*/
}

/***************************************
*HEADER
****************************************/
.header {
  height: 95vh;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(85, 197, 122, 0.7)), to(rgba(40, 180, 133, 0.6))), url(../img/hero.jpg);
  background-image: linear-gradient(to right bottom, rgba(85, 197, 122, 0.7), rgba(40, 180, 133, 0.6)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  /*whatever the width of the browser is, image will always be on top*/
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  /*start with top left corner then clockwise*/
  position: relative;
}

.header__logo-box {
  /*& refers to ".headers"*/
  position: absolute;
  top: 2rem;
  /*! counting from the header as it's  the parent element with position should be set to relative*/
  left: 2rem;
}

.header__logo {
  height: 3rem;
  width: auto;
}

.header__text-box {
  position: absolute;
  top: 30%;
  /*will align the BEGINNING of the box*/
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  /*will move the box itself according to the position mentionned above*/
  text-align: center;
}

.row {
  max-width: 114rem;
  /*Kind of standard : 1140px*/
  margin: 0 auto;
  /*center block element inside a block element*/
}

.row:not(:last-child) {
  margin-bottom: 8rem;
  /*everything will have this property EXCEPT  the last child*/
}

.row::after {
  content: '';
  display: table;
  clear: both;
}

.row [class^="col-"] {
  /*attribute selector ^ will select all classes that start with the value*/
  /*NB: could be "*" as well, means contains*/
  float: left;
}

.row [class^="col-"]:not(:last-child) {
  margin-right: 6rem;
}

.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
  /*Syntax !*/
}

.row .col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}

.row .col-2-of-3 {
  width: calc(2*((100% - 2 * 6rem) / 3) + 6rem);
}

.row .col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}

.row .col-2-of-4 {
  width: calc(2*((100% - 3 * 6rem) / 4) + 6rem);
}

.row .col-3-of-4 {
  width: calc(3*((100% - 3 * 6rem) / 4) +  2 * 6rem);
}

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -25vh;
  /*move up until the green background in header*/
}

/*structure is more for big multipage projects*/
/*# sourceMappingURL=main.css.map */