/*Colors*/
/*Grid*/
/*Font*/
/***************************************
*MAIN
****************************************/
*,
*::before,
*::after {
  /*basic set up for all doc !!*/
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  /*force inheritance from the body*/
}

html {
  /*set up the root file*/
  font-size: 62.5%;
  /*should always use it*/
  /*this is because many people have to increase font size of the website to see properly*/
  /*Default of HTML is 16% but we want 10px, which is 62.5% of 16px*/
  /*easier to start with 10 becaus e 1rem = 10px easier for conversion  */
}

body {
  /*should always be there*/
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/***************************************
*ANIMATIONS 
****************************************/
/*create animation with @keyframes*/
@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem) rotate(180deg);
            transform: translateX(-10rem) rotate(180deg);
    /*element will arrive from left*/
  }
  80% {
    /*can be set to any %*/
    -webkit-transform: translateX(2rem);
            transform: translateX(2rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
    /*will arrive at the defined position*/
  }
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem) rotate(180deg);
            transform: translateX(-10rem) rotate(180deg);
    /*element will arrive from left*/
  }
  80% {
    /*can be set to any %*/
    -webkit-transform: translateX(2rem);
            transform: translateX(2rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
    /*will arrive at the defined position*/
  }
}

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem) rotate(-180deg);
            transform: translateX(10rem) rotate(-180deg);
  }
  80% {
    -webkit-transform: translateX(-2rem);
            transform: translateX(-2rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem) rotate(-180deg);
            transform: translateX(10rem) rotate(-180deg);
  }
  80% {
    -webkit-transform: translateX(-2rem);
            transform: translateX(-2rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-6rem);
            transform: translateY(-6rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-6rem);
            transform: translateY(-6rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

body {
  /*all this will be inherited to all childs*/
  font-family: Lato, sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
  /*This will not be inherited*/
  padding: 1.5rem;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 6rem;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  /*important to add for the animations*/
}

.heading-primary--main {
  display: block;
  /*a block takes the entire width and create a linebreak*/
  font-size: 5.5rem;
  font-weight: 400;
  letter-spacing: 3.6rem;
  -webkit-animation-name: moveInLeft;
          animation-name: moveInLeft;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  /*animation-delay: 2s;*/
  /*Would create a delay before starting the animation*/
  /*animation-iteration-count: 3;*/
  /*would repeat the animation*/
  /*animation-timing-function: ease-in;*/
  /*check mdn doc*/
}

.heading-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 1.65rem;
  -webkit-animation: moveInRight 1.5s;
          animation: moveInRight 1.5s;
  /*
        animation-name: moveInRight;
        animation-duration: 1.5s;
        */
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: -webkit-gradient(linear, left top, right top, from(#55c57a), to(#28b485));
  background-image: linear-gradient(to right, #55c57a, #28b485);
  display: inline-block;
  letter-spacing: 2px;
  /*special gradiant on font*/
  -webkit-background-clip: text;
  /*the background will become the text // will be visible on the text*/
  color: transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.heading-secondary:hover {
  -webkit-transform: skewY(3deg) scale(1.03);
          transform: skewY(3deg) scale(1.03);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.3);
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.6rem;
}

.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-top-huge {
  margin-top: 10rem !important;
}

.u-margin-top-big {
  margin-top: 8rem !important;
}

.u-margin-top-small {
  margin-top: 5rem !important;
}

/***************************************
*BUTTONS 
****************************************/
.btn, .btn:link, .btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 1.5rem 4rem;
  border-radius: 5rem;
  font-size: 1.6rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: relative;
  border: none;
  cursor: pointer;
}

.btn:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.199);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.199);
}

.btn:active, .btn:focus {
  outline: none;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  /*give the impression to actually click on it*/
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.199);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.199);
  /*different values for Y axis and blur value to decrease the shadow*/
}

.btn--white {
  color: #777;
  background-color: #fff;
}

.btn--green {
  background-color: #7ed56f;
  color: #fff;
}

.btn--animated {
  -webkit-animation: moveInBottom 1.3s ease-out 0.75s;
          animation: moveInBottom 1.3s ease-out 0.75s;
  /*75s is the delay*/
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  /*before the animation really starts, the element doesn't appear*/
}

.btn::after {
  /*treated as a child of the button*/
  content: '';
  /*mandatory to mention it even if empty*/
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  /*to make it appear behind*/
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.btn--white::after {
  background-color: #fff;
}

.btn:hover::after {
  /*what happens after we hover*/
  -webkit-transform: scaleX(1.4) scaleY(1.6);
          transform: scaleX(1.4) scaleY(1.6);
  /*increase the element*/
  opacity: 0;
  /*going to opacity 0*/
}

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #7ed56f;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #7ed56f;
  padding: 3px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.btn-text:hover {
  background-color: #7ed56f;
  color: #fff;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.btn-text:active {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.composition {
  position: relative;
  /*then we hover a compisition, select other element which are not hovered */
}

.composition__photo {
  width: 55%;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  position: absolute;
  -webkit-transition: all .3s;
  transition: all .3s;
  z-index: 10;
  outline-offset: 2rem;
}

.composition__photo--p1 {
  left: 0;
  top: -2rem;
}

.composition__photo--p2 {
  right: 0;
  top: 2rem;
}

.composition__photo--p3 {
  left: 6rem;
  top: 15rem;
}

.composition__photo:hover {
  outline: 1.5rem solid #7ed56f;
  /*better to use outline istead of border so we can set an ofset*/
  -webkit-transform: scale(1.4) translateY(0.5rem);
          transform: scale(1.4) translateY(0.5rem);
  -webkit-box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
  z-index: 20;
  /*image will overlapse the others because z-index will be higher*/
}

.composition:hover .composition__photo:not(:hover) {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 5px;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.feature-box__icon {
  font-size: 6rem;
  margin-bottom: .5rem;
  /*special gradiant on font*/
  background-image: -webkit-gradient(linear, left top, right top, from(#55c57a), to(#28b485));
  background-image: linear-gradient(to right, #55c57a, #28b485);
  display: inline-block;
  letter-spacing: 2px;
  -webkit-background-clip: text;
  color: transparent;
}

.feature-box:hover {
  -webkit-transform: translateY(-1.5rem) scale(1.03);
          transform: translateY(-1.5rem) scale(1.03);
}

.card {
  -webkit-perspective: 150rem;
          perspective: 150rem;
  /*give our card perspective*/
  -moz-perspective: 150rem;
  position: relative;
  height: 51rem;
}

.card__side {
  height: 51rem;
  /*important to repeat same as the parent element*/
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  /*"ease" is important as well*/
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  /*hide the backpart of an element (can't see the card from the backpart)*/
  border-radius: 5px;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  overflow: hidden;
  /*because the image overflow the parent and we still want the border-radius*/
}

.card__side--front {
  background-color: #fff;
}

.card__side--back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  /*before we hover the card, the back is already flipped*/
}

.card__side--back-1 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ffb900), to(#ff7730));
  background-image: linear-gradient(to bottom right, #ffb900, #ff7730);
}

.card__side--back-2 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#55c57a), to(#28b485));
  background-image: linear-gradient(to bottom right, #55c57a, #28b485);
}

.card__side--back-3 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#2998ff), to(#5643fa));
  background-image: linear-gradient(to bottom right, #2998ff, #5643fa);
}

.card:hover .card__side--front {
  /*when we over the card, we want the FRONT SIDE  to transform*/
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card:hover .card__side--back {
  /*come back to initial stage and become visible*/
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

.card__picture {
  background-size: cover;
  height: 23rem;
  background-blend-mode: screen;
  /*important to blend the image and the gradient*/
  /*should always start by the prefix even if we add it after*/
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}

.card__picture--1 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ffb900), to(#ff7730)), url(../img/nat-5.jpg);
  background-image: linear-gradient(to bottom right, #ffb900, #ff7730), url(../img/nat-5.jpg);
  /*!!relative to the "compiled" main.css file, that's why we move one layer up*/
}

.card__picture--2 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#55c57a), to(#28b485)), url(../img/nat-6.jpg);
  background-image: linear-gradient(to bottom right, #55c57a, #28b485), url(../img/nat-6.jpg);
  /*!!relative to the "compiled" main.css file, that's why we move one layer up*/
}

.card__picture--3 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#2998ff), to(#5643fa)), url(../img/nat-7.jpg);
  background-image: linear-gradient(to bottom right, #2998ff, #5643fa), url(../img/nat-7.jpg);
  /*!!relative to the "compiled" main.css file, that's why we move one layer up*/
}

.card__heading {
  font-size: 2.8rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: right;
  color: #fff;
  position: absolute;
  top: 12rem;
  right: 2rem;
  width: 75%;
  margin-right: 1rem;
}

.card__heading--span {
  /*not really a child of heading, not a modifier, not an element of heading*/
  padding: 1rem 1.5rem;
  box-decoration-break: clone;
  /*important to align perfectly the text, it will treat it as 2 separate entities*/
  -webkit-box-decoration-break: clone;
}

.card__heading--span--1 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 185, 0, 0.85)), to(rgba(255, 119, 48, 0.85)));
  background-image: linear-gradient(to bottom right, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85));
}

.card__heading--span--2 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(85, 197, 122, 0.85)), to(rgba(40, 180, 133, 0.85)));
  background-image: linear-gradient(to bottom right, rgba(85, 197, 122, 0.85), rgba(40, 180, 133, 0.85));
}

.card__heading--span--3 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(41, 152, 255, 0.85)), to(rgba(86, 67, 250, 0.85)));
  background-image: linear-gradient(to bottom right, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85));
}

.card__details {
  padding: 3rem;
}

.card__details ul {
  width: 90%;
  list-style: none;
  margin: 0 auto;
  /*easy way to center*/
}

.card__details ul li {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
}

.card__details ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.card__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
}

.card__price-box {
  color: #fff;
  margin-bottom: 8rem;
}

.card__price-only {
  font-size: 1.4rem;
  text-transform: uppercase;
}

.card__price-value {
  font-size: 6rem;
  font-weight: 100;
}

.story {
  width: 75%;
  margin: 0 auto;
  -webkit-box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  padding: 5rem;
  padding-left: 9rem;
  font-size: 1.6rem;
  -webkit-transform: skewX(-12deg);
          transform: skewX(-12deg);
  position: relative;
}

.story:not(:last-child) {
  margin-bottom: 10rem;
}

.story > * {
  -webkit-transform: skewX(12deg);
          transform: skewX(12deg);
}

.story__shape {
  width: 15rem;
  height: 15rem;
  float: left;
  /*defines where the element float*/
  shape-outside: circle(50% at 50% 50%);
  /*50% is relative to the width of the element*/
  /*in order to work, we need a defined width/height and floating element*/
  -webkit-shape-outside: circle(50% at 50% 50%);
  /*this is mandatory for safari*/
  /*defines the shape itself*/
  clip-path: circle(50% at 50% 50%);
  -webkit-clip-path: circle(50% at 50% 50%);
  /* this is how to give it some space*/
  -webkit-transform: translateX(-3rem) skewX(12deg);
          transform: translateX(-3rem) skewX(12deg);
}

.story__img {
  height: 100%;
  /*so it take the height of the circle*/
  -webkit-transform: translateX(-4rem) scale(1.4);
          transform: translateX(-4rem) scale(1.4);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.story__text {
  -webkit-transform: skewX(12deg);
          transform: skewX(12deg);
}

.story__caption {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 20%);
          transform: translate(-50%, 20%);
  color: #fff;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
  opacity: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  /*useful for smooth animation*/
}

.story:hover .story__caption {
  /*as soon as the story is hoverd then we want to change the caption*/
  opacity: 1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  /*give the impression that the text appear from bottom*/
}

.story:hover .story__img {
  -webkit-transform: translateX(-4rem) scale(1);
          transform: translateX(-4rem) scale(1);
  /*interesting to give filter directly to the img*/
  -webkit-filter: blur(3px) brightness(90%);
          filter: blur(3px) brightness(90%);
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: .25;
  overflow: hidden;
}

.bg-video__content {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.form__group:not(:last-child) {
  margin-bottom: 2rem;
}

.form__input {
  font-family: inherit;
  /*by default form doesn't inherit the font-family*/
  color: inherit;
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  /*so the box doesn't move when focused*/
  display: block;
  width: 90%;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.form__input:focus {
  outline: none;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #7ed56f;
}

.form__input:focus:invalid {
  /*when we have an invalid focused input element*/
  border-bottom: 3px solid #ff7730;
}

.form__input::-webkit-input-placeholder {
  color: #5c5c5c;
}

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.form__input:placeholder-shown + .form__label {
  /*when the placeholder is shown on the input, we can style it*/
  /* "+" is to select the adjacent sibling as input is not the parent of label*/
  /*label has to be AFTER THE INPUT in order to be selected this way*/
  opacity: 0;
  visibility: hidden;
  /*NB: we use the opacity because we can't animate the visibility*/
  -webkit-transform: translateY(-4rem);
          transform: translateY(-4rem);
  /*will go from up to down on Y axis*/
}

.form__radio-input {
  display: none;
  /*hide the basic radio button*/
}

.form__radio-group {
  width: 49%;
  display: inline-block;
}

.form__radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding-left: 4.5rem;
}

.form__radio-button {
  height: 3rem;
  width: 3rem;
  border: 5px solid #7ed56f;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -.3rem;
}

.form__radio-button::after {
  /*inner circle*/
  content: "";
  display: block;
  height: 1.3rem;
  width: 1.3rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #7ed56f;
  opacity: 0;
  -webkit-transition: all, .3s;
  transition: all, .3s;
}

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  /*animate our button once checked*/
  /*as soon we hit the label element the radio input becomes checked, then we want to change the child ( radio-buton )*/
  opacity: 1;
}

/***************************************
*HEADER
****************************************/
.header {
  height: 95vh;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(85, 197, 122, 0.7)), to(rgba(40, 180, 133, 0.6))), url(../img/hero.jpg);
  background-image: linear-gradient(to right bottom, rgba(85, 197, 122, 0.7), rgba(40, 180, 133, 0.6)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  /*whatever the width of the browser is, image will always be on top*/
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  /*start with top left corner then clockwise*/
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;
}

.header__logo-box {
  /*& refers to ".headers"*/
  position: absolute;
  top: 2rem;
  /*! counting from the header as it's  the parent element with position should be set to relative*/
  left: 2rem;
}

.header__logo {
  height: 3rem;
  width: auto;
}

.header__text-box {
  position: absolute;
  top: 30%;
  /*will align the BEGINNING of the box*/
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  /*will move the box itself according to the position mentionned above*/
  text-align: center;
}

.row {
  max-width: 114rem;
  /*Kind of standard : 1140px*/
  margin: 0 auto;
  /*center block element inside a block element*/
}

.row:not(:last-child) {
  margin-bottom: 8rem;
  /*everything will have this property EXCEPT  the last child*/
}

.row::after {
  content: '';
  display: table;
  clear: both;
}

.row [class^="col-"] {
  /*attribute selector ^ will select all classes that start with the value*/
  /*NB: could be "*" as well, means contains*/
  float: left;
}

.row [class^="col-"]:not(:last-child) {
  margin-right: 6rem;
}

.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
  /*Syntax !*/
}

.row .col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}

.row .col-2-of-3 {
  width: calc(2*((100% - 2 * 6rem) / 3) + 6rem);
}

.row .col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}

.row .col-2-of-4 {
  width: calc(2*((100% - 3 * 6rem) / 4) + 6rem);
}

.row .col-3-of-4 {
  width: calc(3*((100% - 3 * 6rem) / 4) +  2 * 6rem);
}

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -25vh;
  /*move up until the green background in header*/
}

.section-features {
  padding: 20rem 0;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(85, 197, 122, 0.7)), to(rgba(40, 180, 133, 0.6))), url(../img/nat-4.jpg);
  background-image: linear-gradient(to right bottom, rgba(85, 197, 122, 0.7), rgba(40, 180, 133, 0.6)), url(../img/nat-4.jpg);
  background-size: cover;
  -webkit-transform: skewY(-7deg);
          transform: skewY(-7deg);
  /*looks like a paralepipede now*/
  margin-top: -10rem;
  /*we want it to cover the other section*/
}

.section-features > * {
  /*select ALL THE DIRET CHILDS OF THE SECTION*/
  -webkit-transform: skewY(7deg);
          transform: skewY(7deg);
  /* why here we have 7 ? to it cancels the skew applied above, we don't want the elements to be skewed */
}

.section-tours {
  background-color: #f7f7f7;
  padding: 25rem 0 15rem 0;
  margin-top: -7rem;
}

.section-stories {
  padding: 14rem 0;
  position: relative;
  /*we set the bg vid to position absolute*/
}

.section-book {
  padding: 15rem 0;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#55c57a), to(#28b485));
  background-image: linear-gradient(to right bottom, #55c57a, #28b485);
}

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 50%, transparent 50%), url(/img/nat-10.jpg);
  background-size: cover;
  border-radius: 5px;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3);
  height: 50rem;
}

.book__form {
  width: 50%;
  padding: 6rem;
}

/*structure is more for big multipage projects*/
/*# sourceMappingURL=main.css.map */