/***************************************
*MAIN
****************************************/
//this file shoud have all the basic definition about our project

*,
*::before,
*::after {
    /*basic set up for all doc !!*/
    margin:0;
    padding:0;
    box-sizing: inherit;  /*force inheritance from the body*/
}

html { /*set up the root file*/
    font-size: 62.5%;  //defines what 1rem  -- = 10px
    /*should always use it*/
    /*this is because many people have to increase font size of the website to see properly*/
    /*Default of HTML is 16% but we want 10px, which is 62.5% of 16px*/
    /*easier to start with 10 becaus e 1rem = 10px easier for conversion  */
    


    /*we don't need the (phone - MAX600) because we want 1rem = 8px, so if we don't
    specify, it will fall into tab-port which is MAX 900*/


    /*ATTENTION ORDER IS SUPER IMPORTANT*/

    //width<1200 ?
    @include respond(tab-land) { 
        font-size:56.25%; //1rem = 9px, 9/16 = 56.25%
    }

    //width<900 ?
    @include respond(tab-port) {
        font-size:50%; //1rem = 8px, 8/16 = 50%
    }

    @include respond(big-desktop) {
        font-size:75%; //1rem = 12px, 12/16 = 75%
    }


}

body {
    /*should always be there*/
    box-sizing: border-box;
    padding: 1.5rem;


    @include respond(tab-port) {
        padding:0;
    }
}