.section-about {
    background-color: $color-grey-light-1;
    padding:25rem 0;
    margin-top: -25vh; /*move up until the green background in header*/
}

.section-features {
    padding: 20rem 0;
    background-image: linear-gradient(to right bottom, rgba($color-primary-light,0.7), rgba($color-primary-dark,0.6)), url(../img/nat-4.jpg);
    background-size: cover;

    transform: skewY(-7deg); /*looks like a paralepipede now*/
    margin-top: -10rem; /*we want it to cover the other section*/

    & > * { /*select ALL THE DIRET CHILDS OF THE SECTION*/
        transform: skewY(7deg);
        /* why here we have 7 ? to it cancels the skew applied above, we don't want the elements to be skewed */
    }
}